<ion-header  >
  <ion-navbar color="darkblue" hideBackButton="true">
    <!-- <ion-buttons start  left><ion-icon name="arrow-back"></ion-icon></ion-buttons> -->
    <ion-buttons left>
      <button ion-button (click)="backButtonClick()">
           <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="refreshPage()">
        <ion-icon ios="md-refresh" md="md-refresh"></ion-icon>
      </button>
      <!-- <button ion-button icon-only (click)="addnewContact()">
        <ion-icon ios="md-person-add" md="md-person-add"></ion-icon>
      </button> -->
    </ion-buttons>
    <ion-title>Invite Friends</ion-title>
  </ion-navbar>
  <ion-searchbar placeholder="Search" (ionInput)="searchuser($event)"></ion-searchbar>
</ion-header>
<ion-content>
 <ion-list>
   <ion-item-group>
        <div *ngFor="let item of mainArray"  >
          <div  class="border-bottom" *ngIf="userId != item.uid">
            <ion-item no-lines class="contact-list">
                <div >
                  <ion-avatar item-start>
                  <!-- <ion-icon name="person"></ion-icon> -->
                    <img src="{{item.photoURL || 'assets/imgs/user.png'}}">
                  </ion-avatar>
                  <div class="item-info">
                    <h2 *ngIf="item.displayName">{{item.displayName}}</h2>
                    <p *ngIf="item.disc"  [innerHTML]="item.disc" ></p>
                    <!-- <ng-container *ngIf="item.isUser == '1'"> -->
                  </div>
                </div>

                <button item-end outline class="btn-plain" (click)="sendSMS(item)" *ngIf="item.isUser == '0' && !item.isdisable">
                  <ion-icon name="add"></ion-icon>Invite
                </button>

                <button item-end outline class="btn-plain" (click)="inviteReq(item)" *ngIf="item.isdisable">
                  <ion-icon name="add"></ion-icon>Invited
                </button>

            </ion-item>
        </div>
        </div>
   </ion-item-group>
 </ion-list>
 <div *ngIf="isData" padding-horizontal>
        No contacts found!
 </div>
</ion-content>
