page-invite-friend {
    .searchbar {
        background-color: #ddd;
    }
    .searchbar {
        @extend .searchbar;
      }
      .toolbar {
        .toolbar-content {
          .title {
            .toolbar-title {
            }
          }
        }
      }
      .card {
        .input-wrapper {
          .label {
            margin: 0;
          }
        }
      }
      .item-block {
        padding: 16px 0 16px 16px;
      }
      .contact-list {
        ion-avatar {
          display: inline-block;
          width: 40px;
        }
        .item-info  {
          display: inline-block;
          @include calc('width', '100% - 65px');
          margin-top: 12px;
          vertical-align: top;
          h2 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

}
