
<ion-header  >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Referral Request</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-card-content class="herocard" text-center>
      <ion-card-title>
        {{friend_asking_referral_displayName}} is asking you a referral for {{friend_asking_referral_catName}}
        </ion-card-title>
      <p>Do you know any contact which can help him for {{friend_asking_referral_catName}} related work?
      </p>
      <button (click)="sendPickContactTo()" ion-button color="primary" block>Send Referral</button>
    </ion-card-content>


</ion-content>
