<ion-content>
	<ion-item (click)="userProfile()" no-line>
		<ion-icon name="person" item-start></ion-icon>
		<ion-label no-line>Profile</ion-label>
	</ion-item>
	<ion-item (click)="userGroups()" no-line>
		<ion-icon name="people" item-start></ion-icon>
		<ion-label no-line>Create new group</ion-label>
	</ion-item>
	<ion-item (click)="SettingPage()" no-line>
		<ion-icon name="settings" item-start></ion-icon>
		<ion-label no-line>Settings</ion-label>
	</ion-item>
	<!-- <ion-item (click)="StarredPage()" no-line>
		<ion-icon name="star" item-start></ion-icon>
		<ion-label no-line>Starred</ion-label>
	</ion-item> -->
</ion-content>
