<ion-header  >
	<ion-navbar color="darkblue">
		<div class="header-wrap">
			<div class="header-title" text-left>Select Country</div>
			<div class="flex-end">
					<ion-buttons end>
							<button class="popover-btn" ion-button icon-only (click)="closePopover()">
								<ion-icon ios="md-close" md="md-close" ></ion-icon>
							</button>
					</ion-buttons>
			</div>
		</div>
	</ion-navbar>
	<ion-searchbar class="searchbar"
	(ionInput)="searchItems($event)">
	</ion-searchbar>
</ion-header>

<ion-content class="" padding>
	<ion-list class="countryList" radio-group [(ngModel)]="selection" >
		<ion-item  *ngFor="let country of countryList" >
	   		<ion-label >{{country.name}} <span *ngIf="country.code !='' ">( +{{country.code}} )</span></ion-label>
	    	<ion-radio (ionSelect)="SelectedCountry(country.name)"  name="countryName" [value]="country.code"></ion-radio>
		</ion-item>
	</ion-list>
</ion-content>
