<ion-content class="main-view">

<div class="overlay" (click)="closePofile()" ></div>

  <div class="modal_content">
   
   <img src="{{img}}" #myImage (click)="presentImage(myImage)" />

  </div>


</ion-content>
