<ion-header  >
  <!-- hideBackButton="{{backbuttonstatus}}" -->
    <ion-navbar  hideBackButton  >
      <ion-buttons left>
          <button ion-button (click)="backButtonClick()">
               <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
          </button>
      </ion-buttons>

        <div class="header-wrap" *ngIf="headercopyicon">
            <div class="flex-start">
                <!-- <ion-buttons class="left-arrow">
                    <button ion-button icon-only (click)="backButtonClick()">
                        <ion-icon ios="md-arrow-round-back" md="md-arrow-round-back"></ion-icon>
                    </button>
                </ion-buttons> -->
                <div *ngIf="buddy && buddy.photoURL" class="title-wrap" (click)="viewBuddy(buddy.displayName,buddy.mobile,buddy.disc,buddy.photoURL,isuserBlock)" text-left left>
                   <ion-avatar class="user-img" left>
                        <img src="{{buddy.photoURL}}" *ngIf="isuserBlock == false">
                        <img src="assets/imgs/user.png" *ngIf="isuserBlock == true">
                    </ion-avatar>

                    <div class="title-uname">
                        <h5>{{buddy.displayName}}</h5>
                        <div class="font" *ngIf="isuserBlock == false">{{buddyStatus}}</div>
                    </div>
                </div>
            </div>
            <!-- mytodo following functionality is not tested . so test and fix before uncommenting -->
            <div class="flex-end hide">
                <ion-buttons end>
                    <button ion-button icon-only (click)="viewPopover($event)">
                        <ion-icon ios="md-more" md="md-more"></ion-icon>
                    </button>
                </ion-buttons>
            </div>
        </div>
        <div class="select-wrap" *ngIf="!headercopyicon">
            <div class="flex-start">
                <ion-buttons  start class="left-arrow">
                    <button start ion-button icon-only (click)="closeButtonClick()">
                    <ion-icon ios="md-close" md="md-close"></ion-icon>
                    </button>
                </ion-buttons>
                <div class="select-title" text-left left *ngIf="selectCounter > 0">
                {{selectCounter}}
                </div>
            </div>
            <div class="flex-end">
                <ion-buttons end>
                    <button ion-button icon-only (click)="deleteMessage()">
                        <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                    </button>
                </ion-buttons>
            </div>
        </div>
    </ion-navbar>
</ion-header>
<ion-content #content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content class="dayheader"  pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div class="chatwindow">
        <ion-list no-lines>
            <ng-container *ngFor="let items  of allmessagesGroups ; ">
                <ion-list-header class="dayheader" *ngIf="items.dateofmsg == todaydate" align="center">Today</ion-list-header>
                <ion-list-header class="dayheader" *ngIf="items.dateofmsg != todaydate" align="center">{{items.dateofmsg}}</ion-list-header>
                <div *ngFor="let item of items.message_item ; let i = index;let last = last; ">
                     {{last ? callFunctionScroll() : ''}}
                    <ion-item text-wrap>
                        <div [ngClass]="{ 'select-item': item.selection }" (press)="popoverdialog(item,$event)" (click)="popoveranothermsg(item,$event)">
                            <div class="msg-wrap you" *ngIf="item.sentby === buddy.uid">
                                <ion-avatar *ngIf="isuserBlock == false">
                                    <img src="{{buddy.photoURL}}">
                                </ion-avatar>
                                <ion-avatar *ngIf="isuserBlock == true">
                                    <img src="assets/imgs/user.png">
                                </ion-avatar>

                                <div [ngClass]="item.type == 'image' || item.type == 'location' || item.type == 'document' ?'bubble-img':'bubble'">

                                   <div class="msg" *ngIf="item.type == 'message' && (!item.selectCatId || item.selectCatId<=0) && !item.referral_type && !item.request_to_release_incentive && !item.referral_redeemed">{{item.message}}</div>

                                   <div class="msg" *ngIf="item.type == 'message' && item.referral_redeemed">
                                       <h2 class="headinginchat" (click)="fnSendToEarningsPage ()" class="headinginchat"><span>Incentives Redeemed</span></h2>
                                       <p class="typeofreferral">Your request to redeem incentives has been approved</p>
                                       <div><ion-badge (click)="fnSendToEarningsPage()"  color="dark" class="savecnt" text-wrap >View Details</ion-badge></div>
                                  </div>


                                       <div class="msg" *ngIf="item.type == 'message' && item.request_to_release_incentive">
                                           <h2 (click)="sendReferral (buddy, item.selectCatId)" class="headinginchat"><span>Redeem Incentives</span></h2>
                                           <p class="typeofreferral">Redeem Incentives For Referral Request</p>
                                           <div><ion-badge (click)="fnviewincentiverequst(item)"  color="dark" class="savecnt" text-wrap >View Redeem Request</ion-badge></div>
                                      </div>

                                    <div class="msg" *ngIf="item.type == 'message' && item.referral_type && item.referral_type == 'backward'">
                                        <h2   class="headinginchat"><span>Referral Sent</span></h2>
                                        <p class="typeofreferral">Hi, I am sending a referral to you</p>
                                        <div *ngIf="item.referral.mobile">{{item.referral.displayName}} ({{item.referral.mobile}})</div>
                                        <div *ngIf="!item.referralSavedOnPhone"><ion-badge (click)="saveContactInPhone(item)"  color="primary" class="savecnt" text-wrap >Save Contact</ion-badge></div>
                                        <div *ngIf="item.referralSavedOnPhone"><ion-badge   color="secondary" class="savecnt" text-wrap >Contact Saved</ion-badge></div>
                                    </div>

                                    <div class="msg" *ngIf="item.type == 'message' && item.referral_type && item.referral_type == 'forward'">
                                        <h2   class="headinginchat"><span> Referral Forwarded</span></h2>
                                        <p class="typeofreferral">Hi, I forwarded your referral to</p>
                                        <div *ngIf="item.referral.mobile">{{item.referral.displayName}} ({{item.referral.mobile}})</div>
                                        <div *ngIf="!item.referralSavedOnPhone"><ion-badge (click)="saveContactInPhone(item)"  color="primary" class="savecnt" text-wrap >Save Contact</ion-badge></div>
                                        <div *ngIf="item.referralSavedOnPhone"><ion-badge   color="secondary" class="savecnt" text-wrap >Contact Saved</ion-badge></div>
                                    </div>

                                    <div class="msg" *ngIf="item.type == 'message' && item.selectCatId && item.selectCatId>0">
                                        <h2 (click)="sendReferral (buddy, item.selectCatId)" class="headinginchat"><span>Referral Request</span> <ion-icon class="referralicon"    item-end name='arrow-dropright-circle'></ion-icon></h2>
                                        <p class="typeofreferral">Hi, Can you send me a reliable referral for <ion-badge  class="catname" text-wrap >{{item.selectCatName}}</ion-badge></p>
                                        <div *ngIf="item.message && !item.request_to_release_incentive && !item.referral_redeemed">"{{item.message}}"</div>
                                    </div>


                                    <img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png" (click)="openDoc(item.message)" />
                                    <audio controls class="msg" *ngIf="item.type == 'audio'">
                                        <source src="{{item.message}}" type="audio/mpeg">
                                    </audio>
                                    <img class="msg" *ngIf="item.type == 'location'" src="assets/imgs/location.png"
                                        (click)="showLocation(item.message)" />
                                    <!-- <div class="msg" *ngIf="item.type == 'audio'" (click)="playAudio(item.message)">Audio</div> -->
                                    <ng-container class="msg" *ngIf="item.multiMessage && item.type=='image'">
                                        <div (click)="openAllImg(item.message,$event)" class="selection-data">
                                            <img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index "
                                                src="{{pic}}" />
                                            <span class="img-number overlay">+ {{item.message.length - 4}}</span>
                                        </div>
                                    </ng-container>

                                    <ng-container class="msg" *ngIf="!item.multiMessage && item.type == 'image'">
                                        <img src="{{item.message}}" *ngIf="item.type == 'image'" class="msg" #mychatImage
                                            (click)="presentImage(mychatImage)" />
                                    </ng-container>

                                    <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'" >
                                        <img class="msg contact" src="assets/imgs/user.png" />
                                        <div *ngIf="item.message.length == 1"(click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contact</div>
                                        <div *ngIf="item.message.length > 1" (click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contacts</div>
                                    </ng-container>

                                    <div class="read-recipients">
                                            <ion-icon *ngIf="item.isStarred" name="star" class="icon"></ion-icon>
                                            <p class="icon">{{item.timeofmsg}}</p>
                                    </div>

                                </div>
                            </div>
                            <div class="msg-wrap me" *ngIf="item.sentby != buddy.uid ">
                                <ion-avatar>
                                    <img src="{{photoURL}}">
                                </ion-avatar>
                                <div [ngClass]="item.type == 'image' || item.type == 'location' || item.type == 'document' ?'bubble-img':'bubble'">

                                  <div class="msg" *ngIf="item.type == 'message' && item.referral_redeemed">
                                        <h2  class="headinginchat"><span>Incentives Redeemed</span></h2>
                                       <p class="typeofreferral">You have approved request to redeem incentives</p>
                                   </div>


                                  <div class="msg" *ngIf="item.type == 'message' && item.request_to_release_incentive">
                                       <h2  class="headinginchat"><span>Redeem Incentives</span></h2>
                                       <p class="typeofreferral">Your request to redeem incentives for referral has been sent</p>
                                 </div>

                                    <div class="msg" *ngIf="item.type == 'message' && (!item.selectCatId || item.selectCatId<=0) && !item.referral_type && !item.referral_redeemed && !item.request_to_release_incentive">{{item.message}}</div>



                                    <div class="msg" *ngIf="item.type == 'message' && item.referral_type && item.referral_type == 'backward'">
                                        <h2   class="headinginchat"><span>Referral Sent</span> </h2>
                                        <p class="typeofreferral">Hi, I am sending a referral to you</p>
                                        <div *ngIf="item.referral.mobile">{{item.referral.displayName}} ({{item.referral.mobile}})</div>
                                        <div *ngIf="!item.referralSavedOnPhone && false"><ion-badge (click)="fnGetReferralDetail(item)"  color="primary" class="savecnt" text-wrap >Referral Detail</ion-badge></div>
                                        <div *ngIf="item.referralSavedOnPhone"><ion-badge   color="secondary" class="savecnt" text-wrap >Contact Saved</ion-badge></div>
                                    </div>

                                    <div class="msg" *ngIf="item.type == 'message' && item.referral_type && item.referral_type == 'forward'">
                                        <h2  class="headinginchat"><span>Referral Forwarded</span> </h2>
                                        <p class="typeofreferral">Hi, I forwarded your referral to</p>
                                        <div *ngIf="item.referral.mobile">{{item.referral.displayName}} ({{item.referral.mobile}})</div>
                                        <div *ngIf="!item.referralSavedOnPhone && false"><ion-badge (click)="fnGetReferralDetail(item)"  color="primary" class="savecnt" text-wrap >Referral Detail</ion-badge></div>
                                        <div *ngIf="item.referralSavedOnPhone"><ion-badge   color="secondary" class="savecnt" text-wrap >Contact Saved</ion-badge></div>
                                    </div>

                                    <div class="msg" *ngIf="item.type == 'message' && item.selectCatId && item.selectCatId>0">
                                        <h2 (click)="sendReferral (buddy, item.selectCatId)" class="headinginchat"><span>Referral Request</span> <ion-icon class="referralicon"    item-end name='arrow-dropright-circle'></ion-icon></h2>
                                        <p class="typeofreferral">Hi, Can you send me a reliable referral for <ion-badge  class="catname" text-wrap >{{item.selectCatName}}</ion-badge></p>
                                        <div *ngIf="item.message && !item.referral_redeemed">"{{item.message}}"</div>
                                    </div>


                                    <img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png" (click)="openDoc(item.message)" />
                                    <img class="msg" *ngIf="item.type == 'location'" src="assets/imgs/location.png"
                                        (click)="showLocation(item.message)" />

                                    <audio controls class="msg" *ngIf="item.type == 'audio'">
                                        <source src="{{item.message}}" type="audio/mpeg">
                                    </audio>
                                    <!-- <div class="msg" *ngIf="item.type == 'audio'" (click)="playAudio(item.message)">Audio</div> -->
                                    <ng-container class="msg" *ngIf="item.multiMessage && item.type=='image'" >
                                        <div (click)="openAllImg(item.message)" class="selection-data">
                                            <img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index "
                                                src="{{pic}}" />
                                            <span class="img-number overlay">+ {{item.message.length - 4}}</span>
                                        </div>
                                    </ng-container>
                                    <ng-container class="msg" *ngIf="!item.multiMessage ">
                                        <img src="{{item.message}}" class="msg" *ngIf="item.type == 'image'" #mychatImage
                                          (click)="presentImage(mychatImage)" />
                                    </ng-container>
                                    <ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'" >
                                        <img class="msg contact" src="assets/imgs/user.png" />
                                        <div *ngIf="item.message.length == 1"(click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contact</div>
                                        <div *ngIf="item.message.length > 1" (click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contacts</div>
                                    </ng-container>



                                        <div class="read-recipients">
                                            <ion-icon *ngIf="item.isStarred" name="star" class="icon"></ion-icon>
                                            <p class="icon">{{item.timeofmsg}}</p>
                                            <ion-icon *ngIf="!item.isRead" name="checkmark" class="icon"></ion-icon>
                                            <!-- <ion-icon *ngIf="!item.isRead" name="checkmark"></ion-icon> -->
                                            <ion-icon *ngIf="item.isRead" color="secondary" class="checkmark-icon" name="checkmark"></ion-icon>
                                            <ion-icon *ngIf="item.isRead" color="secondary" class="checkmark-icon icon-align icon-align-ios" name="checkmark"></ion-icon>
                                        </div>


                                    </div>

                            </div>
                        </div>
                    </ion-item>
                  </div>
            </ng-container>
        </ion-list>
    </div>
</ion-content>

<ion-footer ion-fixed>
  <ion-list style="display:none;">
    <ion-item>
      <button ion-button clear item-start> <ion-icon class="referralicon"  name="arrow-dropleft-circle"></ion-icon> </button>
      <button  ion-button clear  item-end><ion-icon class="referralicon"  name="arrow-dropright-circle"></ion-icon></button>
    </ion-item>
  </ion-list>
    <form [formGroup]="authForm">
        <ion-toolbar class="no-border" color="white">
            <ion-input tappable [(ngModel)]="newmessage" [formControl]="message" (click)="scrollto()" (input)="onChange($event.keyCode)" name="message" class="newmsg" placeholder="Write your message ..."></ion-input>
            <ion-buttons end *ngIf="selectAllMessage.length == 0">
                <a ion-button (click)="openAttachment($event)">
                    <ion-icon class="ion-image" ios="md-attach" md="md-attach"></ion-icon>
                </a>
                <button ion-button (click)="referralSendBackward($event)" clear item-start> <ion-icon class="referralicon"  name="arrow-dropleft-circle"></ion-icon> </button>
                <button  ion-button (click)="referralSendForward($event)" clear  item-end><ion-icon class="referralicon"  name="arrow-dropright-circle"></ion-icon></button>
            </ion-buttons>
            <ion-buttons end>
                <button ion-button round type="submit" class="sentbtn" [disabled]="!this.msgstatus || !selectAllMessage.length == 0"
                    (click)="addmessage_async()">
                    <ion-icon ios="md-send" md="md-send" color="wcolor" style="font-size: 2.2em;"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </form>
</ion-footer>
