/**
 * @file
 * SCSS file to generate CSS.
 *
 * Form design.
 *
 */


/* Input box design */
input.text-input,
textarea {
  height: 40px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding: 10px 15px;
  border: 1px solid $grey-primary;
  background-color: $white;
  // color: $grey-primary;
  @include css3-prefix(border-radius, 6px);
}
textarea {
  height: 100px;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border: none;
  @include css3-prefix(box-shadow, none !important);
}


/* Button Design */
.btn {
  height: 40px;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding: 10px 15px;
  font-size: $font-size-18;
  @include css3-prefix(border-radius, 6px);
}
.btn-plain {
  min-width: 105px;
  padding: 8px 15px;
  background-color: $white;
  border: 1px solid $primary-color;
  font-size: 14px;
  @include border-radius(4px);
  @extend .text-primary;
  .icon {
    margin-right: 5px;
  }
}

.item button.button-primary,
button.button-primary {
  @extend .btn;
  @extend .bg-primary;
}

.item button.button-secondary,
button.button-secondary {
  @extend .btn;
  @extend .bg-secondary;
}


/* Error message */
.errormsg {
  padding:0px 15px 0px 0px;
  margin:0px;
  color: $danger;
  p {
    color: $danger;
  }
}
