<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Referral Incentive</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p text-center class="infoline"  *ngIf="businessOwnerCheckingHisOwnPage">Your Customer Will See Below</p>

  <ion-card  *ngIf="!myIncentive && hasnotLoadedYet" class="maincard_bubble" text-center padding>
    <ion-card-content >
      <ion-card-title>
          {{whitelabelObj.displayName}} has not specified any referral incentives
        </ion-card-title>
      <p>
        When you reach out to {{whitelabelObj.displayName}} at later date, please remind {{whitelabelObj.displayName}} to update incentives in the app
      </p>

    </ion-card-content>
 </ion-card>

  <ion-card  *ngIf="myIncentive && hasnotLoadedYet" class="maincard_bubble" text-center padding>
    <ion-card-content >
      <ion-card-title>
          You Earn Incentive For Each Referral You Send Back To {{whitelabelObj.displayName}}
        </ion-card-title>
      <p>
        For every referral you send back to {{whitelabelObj.displayName}} you recieve <ion-badge color="secondary">{{myIncentive}}</ion-badge>
      </p>

      <p style="color:#999;">Disclaimer : Your request to redeem incentives will be sent to {{whitelabelObj.displayName}} for approval. The incentives are being offered by {{whitelabelObj.displayName}} and not TapAlly</p>



    </ion-card-content>
 </ion-card>


<button  *ngIf="!businessOwnerCheckingHisOwnPage && hasnotLoadedYet && businessOwnerCheckingHisOwnPage_Checked" style="margin-top:15px;" ion-button (click)="referralSendBackward()" color="primary" block>Send Referral</button>

<button  *ngIf="!businessOwnerCheckingHisOwnPage && hasnotLoadedYet" clear style="" ion-button (click)="sendToBusinessReg()"  block>Business Owner? Grow Sales & Revenue</button>
</ion-content>
