<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Grow Your Business</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card  class="maincard_bubble" text-center padding>
    <ion-card-content >
      <ion-card-title>
        Grow Your Business Revenue
        </ion-card-title>
      <p>
        Turn your customers into your sales agent. Everytime you send invite to your customer, they will see your ad on front page of the app. It will make them easy to send referrals to you and grow your branding
      </p>

      <button   style="margin-top:15px;" ion-button (click)="sendToBusinessReg()" color="primary" block>Let's Start Inviting </button>
      <p></p>
    </ion-card-content>
 </ion-card>


 <ion-card   text-center padding >
   <ion-card-content >
     <ion-card-title>
       Your Permanent Ad
       </ion-card-title>
     <p>
       Customer get your ad permanently embedded in their phone, makes it easy to send referral to you.
     </p>
   </ion-card-content>
</ion-card>

<ion-card   text-center padding >
  <ion-card-content >
    <ion-card-title>
      Offer Them Incentives
      </ion-card-title>
    <p>
      Everytime your customer refer their friends and family to you, you can offer them incentives like cash, gift card etc.
Customer will view the incentives and can send you message to redeem the incentives.
    </p>
  </ion-card-content>
</ion-card>


<ion-card   text-center padding >
  <ion-card-content >
    <ion-card-title>
      Benefits Never Ends
      </ion-card-title>
    <p>
      Send Push Notifications To Your Customers Instead of Email/Text. Run broadcasts, promotions and marketing campaigns directly to your customer’s mobile phone. Email and text messages have low engagement and high bounce rate. Achieve much better results than email and text marketing campaigns with zero or almost no chance of going in the spam. Watch your business sales and revenue growth.
    </p>
  </ion-card-content>
</ion-card>


<button   style="margin-top:15px;" ion-button (click)="sendToBusinessReg()" color="primary" block>Start Today</button>

</ion-content>
