<ion-header >
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Exchange Referral</ion-title>
    <ion-buttons   end class="btnInHeaderVeryLast">
      <button ion-button icon-only (click)="sendToBroadcastPage()">
        <ion-icon name="megaphone"   class="megaphone"></ion-icon>
      </button>
      <button ion-button icon-only (click)="sendToEarningsPage()">
        <ion-icon  name="checkmark-circle" class="notification"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>




<ion-content padding>

<div>
      <div class="pull-center" style="margin:20px 0px;">
        <h4 class="text_color_primary" >Get Trusted Business Referrals</h4>

        <div tappable style="height:408px;overflow:hidden;border:1px solid #e2dbf9;">
          <ion-searchbar (ionInput)="getItems($event)" placeholder="Search Services"></ion-searchbar>
          <ion-list no-lines>
            <ion-item tappable nolines class="itemlistref mainitemlist"  *ngFor="let item of items" (click)="fnGoToHomeAfterINeedTodayPage(item.id)">
                 <p  >{{item.name}}</p>
                 <ion-icon end item-end   name='arrow-dropright-circle'> </ion-icon>
            </ion-item>
          </ion-list>
        </div>
        </div>
</div>

        <!--
        <button clear (click)="sendreferraldirectly()" ion-button color="primary" block>or send Referral Directly To Contact</button>
      -->

</ion-content>
