<ion-content class="bg-img">




  <ion-card  class="maincard_bubble" text-center padding  >
    <ion-card-content >
      <ion-card-title>
        Welcome To TapAlly
        </ion-card-title>
      <p>
        Enter your mobile number to get started
      </p>
    </ion-card-content>
 </ion-card>


  <ion-card  >
    <ion-card-content>
      <form  [formGroup]="authForm">
        <ion-list>
           <!--
            <ion-item (click)="listCountry()" class="textarea-lbl" >
              <div>
                <p>{{countryName}}<span *ngIf="countryCode">{{' (+'+countryCode+')'}}</span></p>
              </div>
            </ion-item>
          -->

          <ion-select   [(ngModel)]="mySelectCountry" value="1"   formControlName="mySelectCountry" >
            <ion-option value="93">Afghanistan</ion-option>
            <ion-option value="355">Albania</ion-option>
            <ion-option value="213">Algeria</ion-option>
            <ion-option value="684">American Samoa</ion-option>
            <ion-option value="376">Andorra</ion-option>
            <ion-option value="244">Angola</ion-option>
            <ion-option value="809">Anguilla</ion-option>
            <ion-option value="268">Antigua</ion-option>
            <ion-option value="54">Argentina</ion-option>
            <ion-option value="374">Armenia</ion-option>
            <ion-option value="297">Aruba</ion-option>
            <ion-option value="247">Ascension Island</ion-option>
            <ion-option value="61">Australia</ion-option>
            <ion-option value="672">Australian External Territories</ion-option>
            <ion-option value="43">Austria</ion-option>
            <ion-option value="994">Azerbaijan</ion-option>
            <ion-option value="242">Bahamas</ion-option>
            <ion-option value="246">Barbados</ion-option>
            <ion-option value="973">Bahrain</ion-option>
            <ion-option value="880">Bangladesh</ion-option>
            <ion-option value="375">Belarus</ion-option>
            <ion-option value="32">Belgium</ion-option>
            <ion-option value="501">Belize</ion-option>
            <ion-option value="229">Benin</ion-option>
            <ion-option value="809">Bermuda</ion-option>
            <ion-option value="975">Bhutan</ion-option>
            <ion-option value="284">British Virgin Islands</ion-option>
            <ion-option value="591">Bolivia</ion-option>
            <ion-option value="387">Bosnia and Hercegovina</ion-option>
            <ion-option value="267">Botswana</ion-option>
            <ion-option value="55">Brazil</ion-option>
            <ion-option value="284">British V.I.</ion-option>
            <ion-option value="673">Brunei Darussalm</ion-option>
            <ion-option value="359">Bulgaria</ion-option>
            <ion-option value="226">Burkina Faso</ion-option>
            <ion-option value="257">Burundi</ion-option>
            <ion-option value="855">Cambodia</ion-option>
            <ion-option value="237">Cameroon</ion-option>
            <ion-option value="1" Selected="true">Canada</ion-option>
            <ion-option value="238">CapeVerde Islands</ion-option> 
            <ion-option value="345">Cayman Islands</ion-option>
            <ion-option value="238">Cape Verdi</ion-option>
            <ion-option value="236">Central African Republic</ion-option>
            <ion-option value="235">Chad</ion-option>
            <ion-option value="56">Chile</ion-option>
            <ion-option value="86">China (People's Republic)</ion-option>
            <ion-option value="886">China-Taiwan</ion-option>
            <ion-option value="57">Colombia</ion-option>
            <ion-option value="269">Comoros and Mayotte</ion-option>
            <ion-option value="242">Congo</ion-option>
            <ion-option value="682">Cook Islands</ion-option>
            <ion-option value="506">Costa Rica</ion-option>
            <ion-option value="385">Croatia</ion-option>
            <ion-option value="53">Cuba</ion-option>
            <ion-option value="357">Cyprus</ion-option>
            <ion-option value="420">Czech Republic</ion-option>
            <ion-option value="45">Denmark</ion-option>
            <ion-option value="246">Diego Garcia</ion-option>
            <ion-option value="767">Dominca</ion-option>
            <ion-option value="809">Dominican Republic</ion-option>
            <ion-option value="253">Djibouti</ion-option>
            <ion-option value="593">Ecuador</ion-option>
            <ion-option value="20">Egypt</ion-option>
            <ion-option value="503">El Salvador</ion-option>
            <ion-option value="240">Equatorial Guinea</ion-option>
            <ion-option value="291">Eritrea</ion-option>
            <ion-option value="372">Estonia</ion-option>
            <ion-option value="251">Ethiopia</ion-option>
            <ion-option value="500">Falkland Islands</ion-option>
            <ion-option value="298">Faroe (Faeroe) Islands (Denmark)</ion-option>
            <ion-option value="679">Fiji</ion-option>
            <ion-option value="358">Finland</ion-option>
            <ion-option value="33">France</ion-option>
            <ion-option value="596">French Antilles</ion-option>
            <ion-option value="594">French Guiana</ion-option>
            <ion-option value="241">Gabon (Gabonese Republic)</ion-option>
            <ion-option value="220">Gambia</ion-option>
            <ion-option value="995">Georgia</ion-option>
            <ion-option value="49">Germany</ion-option>
            <ion-option value="233">Ghana</ion-option>
            <ion-option value="350">Gibraltar</ion-option>
            <ion-option value="30">Greece</ion-option>
            <ion-option value="299">Greenland</ion-option>
            <ion-option value="473">Grenada/Carricou</ion-option>
            <ion-option value="671">Guam</ion-option>
            <ion-option value="502">Guatemala</ion-option>
            <ion-option value="224">Guinea</ion-option>
            <ion-option value="245">Guinea-Bissau</ion-option>
            <ion-option value="592">Guyana</ion-option>
            <ion-option value="509">Haiti</ion-option>
            <ion-option value="504">Honduras</ion-option>
            <ion-option value="852">Hong Kong</ion-option>
            <ion-option value="36">Hungary</ion-option>
            <ion-option value="354">Iceland</ion-option>
            <ion-option value="91">India</ion-option>
            <ion-option value="62">Indonesia</ion-option>
            <ion-option value="98">Iran</ion-option>
            <ion-option value="964">Iraq</ion-option>
            <ion-option value="353">Ireland (Irish Republic; Eire)</ion-option>
            <ion-option value="972">Israel</ion-option>
            <ion-option value="39">Italy</ion-option>
            <ion-option value="225">Ivory Coast (La Cote d'Ivoire)</ion-option>
            <ion-option value="876">Jamaica</ion-option>
            <ion-option value="81">Japan</ion-option>
            <ion-option value="962">Jordan</ion-option>
            <ion-option value="7">Kazakhstan</ion-option>
            <ion-option value="254">Kenya</ion-option>
            <ion-option value="855">Khmer Republic (Cambodia/Kampuchea)</ion-option>
            <ion-option value="686">Kiribati Republic (Gilbert Islands)</ion-option>
            <ion-option value="82">Korea, Republic of (South Korea)</ion-option>
            <ion-option value="850">Korea, People's Republic of (North Korea)</ion-option>
            <ion-option value="965">Kuwait</ion-option>
            <ion-option value="996">Kyrgyz Republic</ion-option>
            <ion-option value="371">Latvia</ion-option>
            <ion-option value="856">Laos</ion-option>
            <ion-option value="961">Lebanon</ion-option>
            <ion-option value="266">Lesotho</ion-option>
            <ion-option value="231">Liberia</ion-option>
            <ion-option value="370">Lithuania</ion-option>
            <ion-option value="218">Libya</ion-option>
            <ion-option value="423">Liechtenstein</ion-option>
            <ion-option value="352">Luxembourg</ion-option>
            <ion-option value="853">Macao</ion-option>
            <ion-option value="389">Macedonia</ion-option>
            <ion-option value="261">Madagascar</ion-option>
            <ion-option value="265">Malawi</ion-option>
            <ion-option value="60">Malaysia</ion-option>
            <ion-option value="960">Maldives</ion-option>
            <ion-option value="223">Mali</ion-option>
            <ion-option value="356">Malta</ion-option>
            <ion-option value="692">Marshall Islands</ion-option>
            <ion-option value="596">Martinique (French Antilles)</ion-option>
            <ion-option value="222">Mauritania</ion-option>
            <ion-option value="230">Mauritius</ion-option>
            <ion-option value="269">Mayolte</ion-option>
            <ion-option value="52">Mexico</ion-option>
            <ion-option value="691">Micronesia (F.S. of Polynesia)</ion-option>
            <ion-option value="373">Moldova</ion-option>
            <ion-option value="33">Monaco</ion-option>
            <ion-option value="976">Mongolia</ion-option>
            <ion-option value="473">Montserrat</ion-option>
            <ion-option value="212">Morocco</ion-option>
            <ion-option value="258">Mozambique</ion-option>
            <ion-option value="95">Myanmar (former Burma)</ion-option>
            <ion-option value="264">Namibia (former South-West Africa)</ion-option>
            <ion-option value="674">Nauru</ion-option>
            <ion-option value="977">Nepal</ion-option>
            <ion-option value="31">Netherlands</ion-option>
            <ion-option value="599">Netherlands Antilles</ion-option>
            <ion-option value="869">Nevis</ion-option>
            <ion-option value="687">New Caledonia</ion-option>
            <ion-option value="64">New Zealand</ion-option>
            <ion-option value="505">Nicaragua</ion-option>
            <ion-option value="227">Niger</ion-option>
            <ion-option value="234">Nigeria</ion-option>
            <ion-option value="683">Niue</ion-option>
            <ion-option value="850">North Korea</ion-option>
            <ion-option value="1 670">North Mariana Islands (Saipan)</ion-option>
            <ion-option value="47">Norway</ion-option>
            <ion-option value="968">Oman</ion-option>
            <ion-option value="92">Pakistan</ion-option>
            <ion-option value="680">Palau</ion-option>
            <ion-option value="507">Panama</ion-option>
            <ion-option value="675">Papua New Guinea</ion-option>
            <ion-option value="595">Paraguay</ion-option>
            <ion-option value="51">Peru</ion-option>
            <ion-option value="63">Philippines</ion-option>
            <ion-option value="48">Poland</ion-option>
            <ion-option value="351">Portugal (includes Azores)</ion-option>
            <ion-option value="1 787">Puerto Rico</ion-option>
            <ion-option value="974">Qatar</ion-option>
            <ion-option value="262">Reunion (France)</ion-option>
            <ion-option value="40">Romania</ion-option>
            <ion-option value="7">Russia</ion-option>
            <ion-option value="250">Rwanda (Rwandese Republic)</ion-option>
            <ion-option value="670">Saipan</ion-option>
            <ion-option value="378">San Marino</ion-option>
            <ion-option value="239">Sao Tome and Principe</ion-option>
            <ion-option value="966">Saudi Arabia</ion-option>
            <ion-option value="221">Senegal</ion-option>
            <ion-option value="381">Serbia and Montenegro</ion-option>
            <ion-option value="248">Seychelles</ion-option>
            <ion-option value="232">Sierra Leone</ion-option>
            <ion-option value="65">Singapore</ion-option>
            <ion-option value="421">Slovakia</ion-option>
            <ion-option value="386">Slovenia</ion-option>
            <ion-option value="677">Solomon Islands</ion-option>
            <ion-option value="252">Somalia</ion-option>
            <ion-option value="27">South Africa</ion-option>
            <ion-option value="34">Spain</ion-option>
            <ion-option value="94">Sri Lanka</ion-option>
            <ion-option value="290">St. Helena</ion-option>
            <ion-option value="869">St. Kitts/Nevis</ion-option>
            <ion-option value="508">St. Pierre &(et) Miquelon (France)</ion-option>
            <ion-option value="249">Sudan</ion-option>
            <ion-option value="597">Suriname</ion-option>
            <ion-option value="268">Swaziland</ion-option>
            <ion-option value="46">Sweden</ion-option>
            <ion-option value="41">Switzerland</ion-option>
            <ion-option value="963">Syrian Arab Republic (Syria)</ion-option>
            <ion-option value="689">Tahiti (French Polynesia)</ion-option>
            <ion-option value="886">Taiwan</ion-option>
            <ion-option value="7">Tajikistan</ion-option>
            <ion-option value="255">Tanzania (includes Zanzibar)</ion-option>
            <ion-option value="66">Thailand</ion-option>
            <ion-option value="228">Togo (Togolese Republic)</ion-option>
            <ion-option value="690">Tokelau</ion-option>
            <ion-option value="676">Tonga</ion-option>
            <ion-option value="1 868">Trinidad and Tobago</ion-option>
            <ion-option value="216">Tunisia</ion-option>
            <ion-option value="90">Turkey</ion-option>
            <ion-option value="993">Turkmenistan</ion-option>
            <ion-option value="688">Tuvalu (Ellice Islands)</ion-option>
            <ion-option value="256">Uganda</ion-option>
            <ion-option value="380">Ukraine</ion-option>
            <ion-option value="971">United Arab Emirates</ion-option>
            <ion-option value="44">United Kingdom</ion-option>
            <ion-option value="598">Uruguay</ion-option>
            <ion-option value="1">USA</ion-option>
            <ion-option value="7">Uzbekistan</ion-option>
            <ion-option value="678">Vanuatu (New Hebrides)</ion-option>
            <ion-option value="39">Vatican City</ion-option>
            <ion-option value="58">Venezuela</ion-option>
            <ion-option value="84">Viet Nam</ion-option>
            <ion-option value="1 340">Virgin Islands</ion-option>
            <ion-option value="681">Wallis and Futuna</ion-option>
            <ion-option value="685">Western Samoa</ion-option>
            <ion-option value="381">Yemen (People's Democratic Republic of)</ion-option>
            <ion-option value="967">Yemen Arab Republic (North Yemen)</ion-option>
            <ion-option value="381">Yugoslavia (discontinued)</ion-option>
            <ion-option value="243">Zaire</ion-option>
            <ion-option value="260">Zambia</ion-option>
            <ion-option value="263">Zimbabwe</ion-option>
          </ion-select>

            <div *ngIf="countryName == 'Select country' && countryTemp" class="validation-msg">
              <p>Please select country.</p>
            </div>
            <ion-item>
                <ion-input class="txtinput" type="number" [formControl]="number" id="number" name="number" [(ngModel)]="phoneNumber.number" placeholder="Enter your mobile number"></ion-input>
            </ion-item>
            <div *ngIf="number.errors && (number.touched || submitAttempt)" class="validation-msg">
              <p> Please enter valid mobile number.</p>
            </div>
            <div *ngIf="InvalidNumErr" class="validation-msg">
              <p> {{InvalidNumErr}}</p>
            </div>
            <ion-item>
              <button ion-button class="button-secondary" type="submit" (click)="doLoginwithMobile(phoneNumber)">Submit</button>
            </ion-item>
            <ion-item>
              <div id="re-container"></div>
            </ion-item>
        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
