<ion-header >
  <ion-navbar color="primary" >
    <ion-title>
      Submit Request
    </ion-title>
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="pull-center givepadding">
        <h3>Get Trusted Referrals</h3>
        <p>Ask for a referral from your friends, family and other known ones</p>
    </div>


    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-textarea  [(ngModel)]="newmessage" [formControl]="message"  type="text"  rows="7" name="message" class="newmsg" placeholder="Request Details (Optional)" ></ion-textarea>
        </ion-col>
        <ion-col col-2>
          <button [disabled]="!isenabled"  (click)="broadcast()" ion-button class="btnbroadcast"  color="primary"  >
          <ion-icon  ios="md-send"  md="md-send">  </ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>



</ion-content>
