
<ion-content padding>

  <ion-card  class="maincard_bubble" text-center padding  >
    <ion-card-content >
      <ion-card-title>
        Tell us about you
        </ion-card-title>
      <p>
        Your name will help other network identify you and connect with ease
      </p>
    </ion-card-content>
 </ion-card>



  <form [formGroup]="authForm" (submit)="save()">


    <ion-label class="content-title"> Your Name</ion-label>
    <ion-input type="text" (input)="onChange($event.keyCode)" formControlName="username" id="username" [value]="username" 
    [(ngModel)]="username" maxlength="30" placeholder="Your Name"></ion-input>
    <ion-label *ngIf="(!authForm.controls.username.valid || !msgstatus)  && (authForm.controls.username.dirty || submitted)">
        <p class="errormsg">Please enter a valid Name.</p>
    </ion-label>
    <button ion-button class="button-secondary" type="submit" [disabled]="!authForm.valid || !this.msgstatus" >Submit</button>
  </form>
</ion-content>
