<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Grow Your Brand</ion-title>
  </ion-navbar>
</ion-header>

<ion-content  >

  <div *ngIf="showPaidSign" tappable class="notpaidbar fadeInAnimation_Slow" >In order for co-branding and other features to work, go back to finish your business registration</div>



  <ion-card  class="maincard_bubble" text-center padding>
    <ion-card-content >
      <ion-card-title>
        Turn your customers into your sales agents
        </ion-card-title>
      <p>
        Everytime you send invite to your customer, a permanent ad will get embedded on front page of their app. It will enable them to easily send you referrals and grow you revenue with ease. 
      </p>

        <p></p>
    </ion-card-content>
 </ion-card>

 <button   style="margin-top:15px;" ion-button (click)="addbuddy()" color="primary" block>Let's Start Inviting </button>




</ion-content>
