page-invitemanually {
  .searchbar {
    @extend .searchbar;
  }
  .searchbar {
      background-color: #ddd;
  }  
  .header-wrap {
    width: 100%;
    /*padding: 10px 0 0;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    .flex-start {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .left-arrow {
        height: 30px;
        margin-right: 10px;
        order:1;
      }
      .header-title {
        order: 2;
        font-size: 20px;
        font-weight: 500;
      }
    }
    .flex-end {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      order:3;
    }
}
  .card {
    .input-wrapper {
      .label {
        margin: 0;
      }
    }
  } 
  .contactslistion .item-block {
    padding: 0px 0px 0px 10px;
  }
  .contactslistion .item-block .label-md {
    margin: 0px 8px 0px 0;
  }
  .contact-list {
    ion-avatar {
      display: inline-block;
      width: 40px;
    }
    .item-info  {
      display: inline-block;
      @include calc('width', '100% - 65px');
      margin-top: 12px;
      vertical-align: top;
      h2 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
