page-username {
  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .flex-start {
      order:1;
      justify-content: flex-start;
    }
    .flex-end {
      order:2;
      justify-content: flex-end;
    }
  }
  input.text-input {
    border: none;
  }
}
