<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Earn Incentives</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card  class="maincard_bubble" text-center padding>
    <ion-card-content >
      <ion-card-title>
        You Deserve Incentives For Helping Businesses
        </ion-card-title>
      <p>
        Follow two easy steps to maximize earning incentives everyday!
      </p>


    </ion-card-content>
 </ion-card>


 <ion-card class="mycard_1">
   <ion-card-content>
     <ion-card-title>
        <ion-icon name="checkmark-circle"></ion-icon> Add Business Owner
       </ion-card-title>
     <p>
       First invite your known business owner from contact list.
     </p>
   </ion-card-content>
 </ion-card>
 <ion-card class="mycard_2"  >
   <ion-card-content>
     <ion-card-title>
        <ion-icon name="checkmark-circle"></ion-icon> Send Referrals
       </ion-card-title>
     <p>
       Everytime you send referral to business, the business-owner may reward you incentives (e.g. cash, gift card)
     </p>

     <button text-center  style="margin-top:15px;" ion-button (click)="addbuddy()" color="secondary"  >Let's Start Inviting</button>
   </ion-card-content>
 </ion-card>

<button  ion-button (click)="sendToBusinessReg()" color="primary"  >Business Owner ? Register Your Business</button>
<p text-center>TapAlly let business owner build strong referral base, automate referrals, generate sales and boost revenue growth<p>

</ion-content>
