<ion-header >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Forward Contact</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-card-content *ngIf="thisIsMe"  class="herocard" text-center>
      <ion-card-title>
        Forward {{buddy_displayName}}'s contact
        </ion-card-title>
      <p>
        People you invite will use this button to forward your referral directly to their friends and family
      </p>
      <button  disabled  ion-button color="primary" block>Forward Referral</button>
    </ion-card-content>

    <ion-card-content *ngIf="!thisIsMe"  class="herocard" text-center>
      <ion-card-title>
        Forward {{buddy_displayName}}'s contact to someone you know
        </ion-card-title>
      <p>This will help {{buddy_displayName}} connect with your known contact
      </p>
      <button (click)="forwardContact()" ion-button color="primary" block>Forward Contact</button>
    </ion-card-content>

</ion-content>
