<ion-header  >
	<ion-navbar>
	</ion-navbar>
</ion-header>
<ion-content>
<div class="main">
	<div class="back">
	</div>
	<img *ngIf="userstatus == false" src="{{img}}" #myImage (click)="presentImage(myImage)"/>
	<img *ngIf="userstatus == true" src="assets/imgs/user.png" #myImage (click)="presentImage(myImage)"/>
	<div class="buddy">
		<h3>{{name}}</h3>
	</div>
</div>
<ion-list padding>
	<h5 class="color-g" >About and Phone Number</h5>
	<div class="disc" *ngIf="userstatus == false" [innerHTML]="disc" ></div><br>
	<div class="seperater"></div>
	<h6  class="color-g"><b class="color-b">{{mobile}}</b> <br>Mobile</h6>
</ion-list>
</ion-content>
