page-earnings {
  .maincard_bubble {
    margin-top:16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .ionlistcss {
    margin-top : 10px;
    border: 1px solid #ddd;
  }
  ion-badge {
    margin: 0px !important;
  }
}
