 <ion-header  >
  <ion-navbar hideBackButton>

    <ion-buttons left>
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title>Set Filter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h3 padding>Filters For Results</h3>
  <ion-list  >
    <ion-item>
      <ion-label> Only Display Known Contacts </ion-label>
      <ion-toggle  ></ion-toggle>
    </ion-item>


    <ion-item>
      <ion-label>Show Results Within</ion-label>
      <ion-select  >
        <ion-option value="1"  checked="true" selected>  25Km</ion-option>
        <ion-option value="2"  >  50km</ion-option>
        <ion-option value="3" >  100Km</ion-option>
        <ion-option value="4">  Province/State</ion-option>
        <ion-option value="5">  Country</ion-option>
      </ion-select>
    </ion-item>



  </ion-list>


</ion-content>

<ion-footer >
  <ion-toolbar>

    <div  >
      <button ion-button color="primary" block>Done</button>
    </div>

  </ion-toolbar>
</ion-footer>
