<ion-item tappable (click)="sendPicMsg()">
	<ion-label no-line >Camera</ion-label>
</ion-item>
<ion-item  tappable (click)="sendGalleryPicMsg()" no-line>
	<ion-label no-line >Gallery</ion-label>
</ion-item>
