
<ion-header  >
  <ion-navbar >
		<div class="search-wrap">
			<ion-buttons class="close-left" left>
				<button ion-button icon-only (click)="dismiss()"><ion-icon ios="md-close" md="md-close" ></ion-icon></button>
			</ion-buttons>
			<ion-searchbar class="searchbar" placeholder="Search" (ionInput)="searchuser($event)"></ion-searchbar>
		</div>
  </ion-navbar>
</ion-header>


<ion-content #content>
	<div class = "chatwindow">
	    <ion-list no-lines>
	      <div *ngIf="isNoRecord" padding text-center>No record found!</div>
	      <ng-container *ngFor = "let items of allChats; let j = index">
	        <ion-list-header *ngIf="items.date == todaydate && items.messages.length > 0" align="center">Today</ion-list-header>
	        <ion-list-header *ngIf="items.date != todaydate && items.messages.length > 0" align="center">{{items.date}}</ion-list-header>

	        <div *ngFor = "let item of items.messages; let i = index">
						<ion-item text-wrap >
							<div [ngClass]="{ 'select-item': item.selection }" (press)="popoverdialog(item,$event)" (click)="popoveranothermsg(item,$event)">
								<div class="msg-wrap you"  *ngIf="item.sentby === buddy.uid" >
									<ion-avatar>
										<img src="{{buddy.photoURL}}">
									</ion-avatar>
									<div [ngClass]="item.type == 'image'?'bubble-img':'bubble'">
											<div class="msg" *ngIf="item.type == 'message'">{{item.message}}</div>
											<img class="msg" *ngIf="item.type == 'location'" src="assets/imgs/location.png"
											(click)="showLocation(item.message)" />
											<img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png"  />

											<ng-container class="msg" *ngIf="item.multiMessage && item.type=='image'">
													<div (click)="openAllImg(item.message)">
															<img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index "
																	src="{{pic}}" />
															<span class="img-number overlay">+ {{item.message.length - 4}}</span>
													</div>
											</ng-container>

											<ng-container *ngIf="!item.multiMessage ">
													<img class="msg" *ngIf="item.type == 'image'" #mychatImage src="{{item.message}}"
															(click)="presentImage(mychatImage)" />
											</ng-container>
											<ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'" >
													<img class="msg contact" src="assets/imgs/user.png" />
													<div (click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contacts</div>
											</ng-container>
										<div class="read-recipients">
											<p class="icon">{{item.timeofmsg}}</p>
										</div>
									</div>
								</div>
								<div class="msg-wrap me" *ngIf="item.sentby != buddy.uid">
									<ion-avatar>
											<img src="{{photoURL}}">
									</ion-avatar>
									<div [ngClass]="item.type == 'image'?'bubble-img':'bubble'">
											<div class="msg" *ngIf="item.type == 'message'">{{item.message}}</div>
											<img class="msg" *ngIf="item.type == 'document'" src="assets/imgs/docs.png" (click)="openDoc(item.message)" />
											<img class="msg" *ngIf="item.type == 'location'" src="assets/imgs/location.png"
													(click)="showLocation(item.message)" />

											<audio controls class="msg" *ngIf="item.type == 'audio'">
													<source src="{{item.message}}" type="audio/mpeg">

											</audio>
											<ng-container class="msg" *ngIf="item.multiMessage && item.type=='image'" >
													<div (click)="openAllImg(item.message)">
															<img class="msg-partision" *ngFor="let pic of item.message | slice:0:4; let ii = index "
																	src="{{pic}}" />
															<span class="img-number overlay">+ {{item.message.length - 4}}</span>
													</div>
											</ng-container>
											<ng-container *ngIf="!item.multiMessage ">
													<img class="msg" *ngIf="item.type == 'image'" #mychatImage src="{{item.message}}"
															(click)="presentImage(mychatImage)" />
											</ng-container>
											<ng-container class="msg" *ngIf="item.multiMessage && item.type == 'contact'" >
													<img class="msg contact" src="assets/imgs/user.png" />
													<div (click)="openContacts(item.message)" class="view-msg">View {{ item.message.length }} Contact</div>
											</ng-container>


												<div class="read-recipients">
													<p class="icon">{{item.timeofmsg}}</p>
													<ion-icon *ngIf="!item.isRead" name="checkmark"></ion-icon>
													<ion-icon *ngIf="item.isRead" color="secondary" name="checkmark" class="checkmark-icon"></ion-icon>
													<ion-icon class="checkmark-icon icon-align icon-align-ios" *ngIf="item.isRead" color="secondary" name="checkmark"></ion-icon>
												</div>

									</div>
							</div>
						</div>
						</ion-item>
					</div>
	      </ng-container>
	    </ion-list>
	  </div>

</ion-content>
