page-profilepic {
  .header-wrap {
    display:flex;
    align-items:center;
    justify-content: flex-start;
    .left-arrow {
      order:1;
      margin-right: 10px;
    }
    .header-title {
      order:2;
      font-size: 20px;
    }
  }
  .profile-image {
    display: inline-block;
    margin: 70px 0;
    position: relative;
    z-index: 999;
    .imgcss {
      height :180px;
      width: 180px;
      @include css3-prefix(border-radius, 1000px);
    }
    .button {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 40px;
      width: 40px;
      margin: 0 0 20px;
      background-color: $white;
      &:hover {
        background-color: $white;
      }
      .icon {
        color: $primary-color;
        font-size: $font-size-18;
      }
    }
  }
  .scroll-content {
    align-content: left;
    display:block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /*padding-top: 10%;*/
  }
  /* Label design */
  .item {
    margin-bottom: 16px;
  }
  ion-label.label {
    @extend input.text-input;
    margin: 0;
  }
  .textarea-lbl {
    ion-label.label {
      height: 100px;
      white-space: normal;
      overflow-y: auto;
    }
  }
  ion-item.item {
    padding: 0;
    .item-inner { padding: 0 !important; }
  }
}

.bg-profile-wrap {
  position: relative;
  background-color: rgb(79, 166, 218);
  .bg-profile {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    min-height: 100%;
    background-position: center !important;
    background-size: 100% !important;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: inline-block;
      background-color: rgba(79,166,218, .8);
      content: '';
    }
  }
}
