page-groupmembers {
  ion-list {
    ion-item {
      button {
        &.item-button {
          padding: 14px 8px !important;
          border-radius: 50% !important;
          background-color: transparent !important;
          color: #000 !important;
          border: 1px solid $grey-border !important;
          font-size: 10px !important;
        }
      }
    }
  }
}
