<ion-header  >

  <ion-navbar >
      <div class="header-wrap">
            <div class="header-title" *ngIf="contacts.length == 1">Contact</div>
            <div class="header-title" *ngIf="contacts.length >1">Contacts</div>
      </div>

  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list *ngIf="contacts.length>0" >
        <ion-item *ngFor="let item of contacts">
            <ion-avatar item-start>
                <img src="assets/imgs/user.png">
              </ion-avatar>
         <h2 >{{item.displayName}}</h2>
      <button *ngIf="!item.isSave"ion-button outline item-end (click)="addContacts(item,$event)">ADD</button>
  </ion-item>
  </ion-list>

</ion-content>
