page-block-user {
    .header-wrap {
        width: 100%;
        /*padding: 10px 0 0;*/
        display: flex;
        align-items: center;
        justify-content: space-between;
        .flex-start {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .left-arrow {
            height: 30px;
            margin-right: 10px;
            order:1;
          }
          .header-title {
			      order: 2;
			      font-size: 20px;
            font-weight: 500;
          }
        }  
        .flex-end {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          order:3;
        }
    }
    ion-item {
      &.item {
        padding-left: 0 !important;
      }
      .item-inner {
        padding-right: 0 !important;
      }
    }
    .list {
      .item {
        &:first-child {
          border-top: 0 !important;
        }
        &:last-child {
          border-bottom: 0 !important;
        }
      }
    } 
}
