page-groups {
    .header-wrap {
  		/*padding: 10px 0 0;*/
  		display: flex;
  		justify-content: flex-start;
  		flex-direction: row;
  		align-items: center;
  		.left-arrow {
  			margin-right: 10px;
  			order:1;
  		}
		.header-title {
			order: 2;
			font-size: 20px;
			font-weight: 500;
		}
	}
  .profile-image{
      img{
          height: 200px;
          width: 200px;
          border-radius:50%;
          border: 4px solid rgba(255,255,255,0.4);
          -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
          box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
      }
   }
  .scroll-content {
      align-content: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
  }

}
