<ion-header  >
  <ion-navbar hideBackButton>
    <div class="header-wrap">
        <div class="flex-start">
          <ion-buttons left>
              <button ion-button (click)="backButtonClick()">
                   <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
              </button>
          </ion-buttons>
            <div class="header-title">Map</div>
        </div>
        <div class="flex-end">
            <ion-buttons end *ngIf="flag==true">
                <button ion-button [disabled]="!this.latLng" (click)="share()">Share</button>
            </ion-buttons>
        </div>
    </div>
  </ion-navbar>
</ion-header>
<ion-content>
  <div #map id="map"></div>
</ion-content>
