<ion-header  >
  <ion-navbar hideBackButton>
    <ion-buttons left >
        <button ion-button (click)="backButtonClick()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Invite Contacts</ion-title>
    <ion-buttons right class='rightsidebtncss'>

      <button *ngIf="true || !sourceImportpPage_" ion-button icon-only (click)="refreshPage()">
        <ion-icon class="rightsidebtncss"  name="refresh-circle"></ion-icon>
      </button>

      <button  *ngIf="sourceImportpPage_" ion-button  (click)="backButtonClick()">
        Done
      </button>



    </ion-buttons>
  </ion-navbar>
  <ion-searchbar tappable  (ionBlur)="searchuserBlur()" (ionFocus)="searchuserFocus()"   placeholder="Search" (ionInput)="searchuser($event)"></ion-searchbar>


</ion-header>
<ion-content>

  <ion-list [virtualScroll]="mainArray" class="contactslistion " [approxItemHeight]="'40px'">
    <ion-item *virtualItem="let item"  [ngClass]="item.dim?'itemside_dim':'itemside'"  >
      <ion-avatar item-start >
        <img *ngIf="item.isBlock == false" src="{{item.photoURL || userpic}}">
        <img *ngIf="item.isBlock == true" src="{{'assets/imgs/user.png' || userpic }}">
      </ion-avatar>
      <ion-note class="itemnote" item-start>
        <h2 class="displaynamecss" *ngIf="item.displayName">{{item.displayName}} </h2>
        <p *ngIf="item.mobile_formatted"  [innerHTML]="item.mobile_formatted" ></p>
      </ion-note>

      <!--
      <a   href="sms:6472618184?&body=test123">SEND MSG</a>
    -->

      <button item-end   (click)="sendSMS(item)" *ngIf="!item.isdisable">
        <ion-icon class="mainiconcontact"  name="add-circle"></ion-icon>
      </button>
      <button item-end   (click)="sendSMS(item)" *ngIf="item.isdisable">
        <ion-icon class="mainiconcontact" color="secondary"  name="add-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

 <div *ngIf="isData" padding-horizontal>
        No contacts found!
 </div>
</ion-content>
