<ion-tabs  tabsPlacement="bottom" id="mysupertabs">
  <!--<ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>-->
  <ion-tab [root]="tab2Root" tabTitle="My Contacts" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Get Referral" tabIcon="information-circle"></ion-tab>
</ion-tabs>
