<ion-item (click)="searchMessage($event)" no-line>
	<ion-label no-line >Search</ion-label>
</ion-item>
<!-- <ion-item (click)="clearChat()"  no-line>
	<ion-label no-line >Clear</ion-label>
</ion-item> -->