page-secondpage {
  .mycard {
     background-color: #f1eefc;
     color: #222;
     text-align: right;
     border-radius: 15px 10px 5px;
     width: 70%;
     float: right;
  }
  .buddycard {
     background-color: #ededed;
     color: #222;
     text-align: left;
     width: 70%;
     border-radius: 5px 10px 15px;
  }
  .referralicon {
    font-size: 30px;
  }
}
