<!--
  Generated template for the SecondpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>secondpage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ng-container *ngFor="let items  of allmessagesGroups ; ">
  <ion-list-header class="dayheader" *ngIf="items.dateofmsg == todaydate" align="center">Today</ion-list-header>
  <ion-list-header class="dayheader" *ngIf="items.dateofmsg != todaydate" align="center">{{items.dateofmsg}}</ion-list-header>

  <div *ngFor="let item of items.message_item ; let i = index;let last = last; ">
    <ion-card [ngClass]="(item.sentby != buddy.uid)?'mycard':'buddycard'"  >
      <ion-card-content>
            <img src="{{item.message}}" *ngIf="item.type == 'image'" class="msg" #mychatImage
                        (click)="presentImage(mychatImage)" />
            <p *ngIf="item.type == 'message'">
               {{item.message}}
            </p>
      </ion-card-content>
    </ion-card>
  </div>

</ng-container>

</ion-content>

<ion-footer ion-fixed>

</ion-footer>
