page-groupinfo {
  .header {
    .toolbar {
      .toolbar-background {
        background: transparent !important;
      }
    }
  }
  .content {
    .scroll-content {
      margin-top: -5px !important;
    }
  }
	.main {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    img {
      height: 350px;
      width: 100%;
      -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
         -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
              box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    }
    .buddy{
      height: 50px;
      width: 100%;
      position: absolute;
      top: auto;
      bottom: 0;
      background-color:rgba(3, 0, 0, 0.4);
      .group-name {
        h2 {
          float: left;
          margin: 10px 0 10px 10px !important;
          color: $white;
        }
      }
      .group-edit{
        float: right;
        button {
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
  }

  .back{
    float: left;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(3, 0, 0, 0.4);
    height: 65px;
    width: 100%;
  }
  /* design for ios */
  .bar-buttons-ios {
		padding-top: 13px !important;
	}
  /* end */
}
