<ion-header  >
  <ion-navbar color="primary" hideBackButton >
    <ion-title>
      Request Submitted
    </ion-title>
    <ion-buttons left>
        <button ion-button (click)="gotoTabsPage()">
             <ion-icon class="backbtncss" name="arrow-dropleft-circle"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="pull-center givepadding">
      <h3>Your Request Has Been Submitted</h3>
      <p> It may take few minutes to hours before your contacts in network refer you.
      </p>
      <button ion-button  (click)="gotoTabsPage()" color="primary" block>Done</button>
      <button ion-button  (click)="gotoChatsPage()" color="primary" clear>Submit Another Request</button>
<br />
<!--
        <p>Need someone right now ? </p>
        <button ion-button color="primary" block>Browse nearby busineeses</button>
      -->
  </div>
</ion-content>
